* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background: url('../../assets/img/poke_bg.png');
    background-size: cover;
    background-attachment: fixed;
}

.content {
    padding: 1rem;
    width: 100vw;
   
    background-color: rgba(1,1,1,.5);
}

.content h1 {
    margin: 0;
}

@media screen and (min-width: 992px) {
    .content {
      max-width: 992px;
      height: auto;
      margin: 1rem auto;
      border-radius: 1rem;
    }
}


